<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>1</key>
        <array>
            <string>一觉睡到自然醒，不然对不起周末</string>
            <string>我是麦霸，我要K歌</string>
            <string>无兄弟，不篮球，我要打一场篮球</string>
            <string>找几个同学，回学校踢场足球</string>
            <string>看两个小时的书，让自己沉浸在书的知识海洋</string>
        </array>
        <key>2</key>
        <array>
            <string>给自己请个假，体验下星期一不上班的快感</string>
            <string>睡个懒觉，让老板着急去吧</string>
            <string>早起早上班，珍爱生命，远离挤公车、挤地铁</string>
            <string>给自己做个营养早餐，好好款待自己</string>
        </array>
        <key>3</key>
        <array>
            <string>努力工作，认真把今天上司交给的任务做完</string>
            <string>大口喝水，大口吃肉，身体是革命的本钱</string>
        </array>
        <key>4</key>
        <array>
            <string>拍下领导的马屁，在领导面前露露脸。</string>
            <string>跟同事一起去吃午饭，增进下同事间的感情，方便工作沟通</string>
        </array>
        <key>5</key>
        <array> 
            <string>今天可是日本连载更新日，追一期日本热血漫画</string>
            <string>给你的爱人打个电话，亲，爱情是需要营养灌溉的，别老做个工作的机器</string>
        </array>
        <key>6</key>
        <array>
            <string>今天可是美剧更新日，我要追一集我喜爱的美剧</string>
            <string>明天就是周末了，今天加快效率，争取不加班</string>
            <string>带上心爱的弟子或心爱的妹子，去看一场电影</string>
        </array>
        <key>7</key>
        <array>
            <string>大周末了，聚集一帮朋友一起玩三国杀</string>
            <string>周末万岁，拉上几个哥们一起happy去</string>
            <string>周末万岁，跟闺蜜逛街去</string>
            <string>开车郊游去，远离城市的喧嚣，去体验大自然的清新空气</string>
        </array>
    </dict>
</plist>